[build]
target = "riscv32imc-unknown-none-elf"

[target.riscv32imc-unknown-none-elf]
rustflags = [
    "-C", "link-arg=-Tlinkall.x",
    "-C", "link-arg=-Tdefmt.x",
    "-C", "force-frame-pointers",   # for esp-backtrace
]
runner = "espflash flash -M -L defmt"

[target.riscv32imac-unknown-none-elf]
rustflags = [
    "-C", "link-arg=-Tlinkall.x",
    "-C", "link-arg=-Tdefmt.x",
    "-C", "force-frame-pointers",   # for esp-backtrace
]
runner = "espflash flash -M -L defmt"

[env]
DEFMT_LOG = "info"