name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        targets: thumbv7em-none-eabihf,thumbv6m-none-eabi
    - name: Install QEMU
      run: |
        sudo apt update
        sudo apt install qemu-system-arm
    - name: Run QEMU tests (thumbv7em-none-eabihf)
      working-directory: tests/qemu
      run: cargo test --verbose
    - name: Run QEMU tests (thumbv6m-none-eabi)
      working-directory: tests/qemu
      run: cargo test --verbose --target thumbv6m-none-eabi --no-default-features -F cortex-m,no-atomic
